@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

.green {
	text-decoration: line-through;
	background-color: green;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

span{
	&.title, &.body{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
	}
}

a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

button{
	&#register{
		border: 20px solid;
		color: #ffffff;
		background: #c60f13;
		border-radius: 25px;
		border-color: none;
	&#login{
		border: 20px solid;
		color: #ffffff;
		background: #383838;
		border-radius: 25px;
		border-color: none;
	}
}


