extends ../layout.jade

block content
	form(action="/tasks", method="POST", enctype="application/x-www-form-urlencoded")
		p
			label(for="title_input") Title 
			input#title_input(type="text", name="title")