extends ../layout.jade

block content
	h1= task.title
	p= task.body

	a(href="/tasks/#{task._id}/edit") 
		button Edit

	form(action="/tasks/#{task._id}?_method=DELETE", method="POST")
		button Delete
